{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Gallery - Bailey Spiegel{% endblock %}

{% block content %}
<div class="gallery-container">
    <h2 class="gallery-title">My Artwork</h2>
    <div class="gallery-dynamic">
        <!-- Gallery Items -->
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/Untitled_Artwork 14.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/Untitled_Artwork 14.jpg' %}" alt="Hookville: Riddles to Master">
            </a>
            <p class="gallery-title">Hookville: Riddles to Master</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/FullSizeRender-7.jpeg' %}" target="_blank">
                <img src="{% static 'portfolio/images/FullSizeRender-7.jpeg' %}" alt="Cradle of the Cosmos">
            </a>
            <p class="gallery-title">Cradle of the Cosmos</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/img052.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/img052.jpg' %}" alt="Cosmic Vision">
            </a>
            <p class="gallery-title">Cosmic Vision</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/Spiegel.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/Spiegel.jpg' %}" alt="Tree of Life">
            </a>
            <p class="gallery-title">Tree of Life</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/img047.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/img047.jpg' %}" alt="Sacred Geometry">
            </a>
            <p class="gallery-title">Sacred Geometry</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/img051.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/img051.jpg' %}" alt="Hands and Snake">
            </a>
            <p class="gallery-title">Hands and Snake</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/self portrait.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/self portrait.jpg' %}" alt="Self Portrait">
            </a>
            <p class="gallery-title">Self Portrait</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/City Illustration this one.jpg' %}" target="_blank">
                <img src="{% static 'portfolio/images/City Illustration this one.jpg' %}" alt="Cityscape">
            </a>
            <p class="gallery-title">Cityscape</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/FullSizeRender-1 2.jpeg' %}" target="_blank">
                <img src="{% static 'portfolio/images/FullSizeRender-1 2.jpeg' %}" alt="Phoenix">
            </a>
            <p class="gallery-title">Phoenix</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/FullSizeRender-5.jpeg' %}" target="_blank">
                <img src="{% static 'portfolio/images/FullSizeRender-5.jpeg' %}" alt="babel">
            </a>
            <p class="gallery-title">babel</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/8_Spiegel.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/8_Spiegel.png' %}" alt="Heart Hands">
            </a>
            <p class="gallery-title">Heart Hands</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/16_Spiegel.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/16_Spiegel.png' %}" alt="branches">
            </a>
            <p class="gallery-title">branches</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/17_Spiegel.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/17_Spiegel.png' %}" alt="Llama llama red pajama">
            </a>
            <p class="gallery-title">Llama llama red pajama</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/18_Spiegel.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/18_Spiegel.png' %}" alt="Saxby's Tree">
            </a>
            <p class="gallery-title">Saxby's Tree</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/Four Frames.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/Four Frames.png' %}" alt="Four Frames">
            </a>
            <p class="gallery-title">Four Frames</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/Four Pots.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/Four Pots.png' %}" alt="Four Pots">
            </a>
            <p class="gallery-title">Four Pots</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/instalation (pots).png' %}" target="_blank">
                <img src="{% static 'portfolio/images/instalation (pots).png' %}" alt="instalation (pots)">
            </a>
            <p class="gallery-title">instalation (pots)</p>
        </div>
        <div class="gallery-item">
            <a href="{% static 'portfolio/images/instalation.png' %}" target="_blank">
                <img src="{% static 'portfolio/images/instalation.png' %}" alt="instalation">
            </a>
            <p class="gallery-title">instalation</p>
        </div>
    </div>
</div>
{% endblock %}
